html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
  height: 600px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  border: 2px solid greenyellow;
}
.clock {
  border: 2px solid blue;
}

.field {
  border: 2px solid black;
  height: 100px;
  width: 100px;

  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  margin-right: 10px;
}
